
:root{
  --primary:#2439FF;
  --primary_hover:#3d4cff;
  --secondary:#777EF6;
  --light_secondary:#DBDEFD;
}
html,body{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#progress-bar-container li .step-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

.card{
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);

}

button.btn-primary{
  background-color: var(--primary);
  border: none;
  color: white;
  font-size: 1.2rem;
  margin-block-end: 1.5rem;
  cursor: pointer;
  padding: 1rem 6rem;
  border-radius: 10px;
}
button.btn-primary:hover{
  background-color: var(--primary_hover);
}

button.btn-text{
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-size: 1.2rem;
  margin-block-end: 1.5rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 10px;
}

@media screen and (max-width:768px) {
  button{
    font-size: 1.1rem!important;
    padding: .8rem 4rem!important;
  }
}